<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Smol</title>
		<base href="/" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link
			rel="icon"
			type="image/x-icon"
			href="https://www.pngitem.com/pimgs/m/563-5634811_doge-meme-png-photos-dog-meme-transparent-png.png"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="static/styles.ee87f749922f9dd55ad4.css" />
	</head>
	<body class="mat-typography">
		<app-root></app-root>
		<script src="static/runtime.c51bd5b1c616d9ffddc1.js" defer></script>
		<script src="static/polyfills.654b0ce57de84441bf1a.js" defer></script>
		<script src="static/main.2f06f549632f608b6bf0.js" defer></script>
	</body>
</html>
